<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 data="home.title">Bienvenue sur l'application de prise de rendez-vous dans les hôpitaux publics</h1><br><br>
            <p class="lead" data="home.subtitle">Pour mieux vous accueillir, nous avons mis en place un système informatisé de gestion des rendez-vous, qui vous permet de prendre rendez-vous par internet<br><br>

Ce service vous permet de réduire le nombre de déplacements <br><br>

Ce service vous permet de réduire les frais liés aux déplacements<br><br> 

Ce service vous garantie une optimisation de votre temps et de votre énergie</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data="global.messages.info.authenticated" translate-compile>
                     <a class="alert-link" href="" ng-click="vm.login()">Connectez vous ici</a>, 
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

            <p data="home.question">
                Vous avez besoin d'aide consultez notre FAQ
            </p>

                 <a ui-sref="aide" ng-click="vm.collapseNavbar()">
                 <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                 <span data-translate="global.menu.entities.aide">Aide</span>
                </a>

        </div>
    </div>
</div>
